@{
    ViewData["Title"] = "StreamCapture Schedule Grid";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information (datatable)</p>

<table id="list"><tr><td></td></tr></table> 
<div id="pager"></div>  

@section Scripts
{        
    <script>

    $("#list").jqGrid({
        url: "/api/schedule",
        editurl: "/api/edit",
        datatype: "JSON",
        mtype: "GET",
        colModel: [     
            { label: "ID", name: "id", width: 55 },
            { label: "Descritpion", name: "description", width: 700, editable: true },
            { label: "Start Date", name: "strStartDT", width: 150, editable: true }
        ],
        pager: "#pager",
        rowNum: 20,
        onSelectRow: editRow,
        loadonce : true,
        sortname: "id",
        sortorder: "description",
        viewrecords: true,
        gridview: true,
        autoencode: true,        
        caption: "My first grid"
    }); 


    var lastSelection;

    function editRow(myid) {
        if (myid && myid !== lastSelection) {
            var grid = $("#jqGrid");
            grid.jqGrid('restoreRow',lastSelection);
            grid.jqGrid('editRow',myid, {keys: true} );
            lastSelection = myid;
        }
    }

    </script>
}