@{
    ViewData["Title"] = "StreamCapture Schedule Grid";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information (datatable)</p>

<table id="list"><tr><td></td></tr></table> 
<div id="pager"></div>  

@section Scripts
{        
    <script>

    $("#list").jqGrid({
        url: "/api/schedule",
        editurl: "/api/edit",
        datatype: "JSON",
        mtype: "GET",
        colModel: [   
            { name: "id", hidden: true },         
            { label: "Description", name: "description", width: 600, editable: true },
            { label: "Start Date/Time", name: "strStartDT", width: 150, editable: true },
            { label: "Duration", name: "strDuration", width: 70, editable: true },
            { label: "Too Many", name: "tooManyFlag ", width: 70, template: "booleanCheckbox" },
            { label: "Queued", name: "queuedFlag", width: 60, template: "booleanCheckbox" },
            { label: "Started", name: "processSpawnedFlag  ", width: 60, template: "booleanCheckbox" },
            { label: "Partial", name: "partialFlag ", width: 60, template: "booleanCheckbox" },
            { label: "Done", name: "completedFlag  ", width: 60, template: "booleanCheckbox" },
            { label: "Ignore", name: "ignoreFlag  ", width: 60, template: "booleanCheckbox", editable: true },
            {
                label: "Edit",
                name: "actions",
                width: 60,
                formatter: "actions",
                formatoptions: {
                    keys: true,
                    editOptions: {},
                    addOptions: {},
                    delOptions: {}
                }       
            }            
        ],
        pager: "#pager",
        rowNum: 20,
        sortname: "strStartDT",
        onSelectRow: editRow,
        loadonce : true,
        viewrecords: true,
        gridview: true,   
        forceClientSorting: true,  
        caption: "StreamCapture Schedule"
    }); 

    var lastSelection;

    function editRow(myid) {
        if (myid && myid !== lastSelection) {
            var grid = $("#jqGrid");
            grid.jqGrid('restoreRow',lastSelection);
            grid.jqGrid('editRow',myid, {keys: true} );
            lastSelection = myid;
        }
    }

    </script>
}